@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
.container{
    width: 100%;
    margin: 0 auto;
}

.dash{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.LeftSide{
    flex-basis: 20%;
    border: 1px solid gray;
    padding: 0 3rem;
    height: 50vh;
    border-radius: 0.9rem;
}
.rightSide{
    flex-basis: 100%;
    border: 1px solid gray;
    padding: 0 3rem;
    /* height: 50vh; */
    border-radius: 0.9rem;
    height: auto;
    padding: 1rem;
}
.LeftSide ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
li{
    display: block;
    width: 150px;
    line-height: 50px;
    padding: 0.2rem;
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;

}
li:hover{
    background-color: #E0E7FF;
}
.rigthSidescard{
    display: flex;
    flex-direction: r;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: #E0E7FF;
    padding: 1rem;
    align-items: center;
    color: rgb(5, 2, 2);
    line-height: 4rem;
    /* height:100v auto; */
    border-radius: 0.9rem;
}
.image{
    width: 30%;
}
.text{
display: flex;
flex-direction: column;
gap: 0.1rem; 
width: 60%;
}
.text p{
    margin-top: -2rem;
}
.icons{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    font-size: xx-large;
}
.AiFillDelete{
color: red;
}
.FiEdit{
color: rgb(0, 70, 221);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.formGroup{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.formGroup input[type="text"],[type="file"],textarea{
    border: 1px solid gray;
    user-select: none;
    padding: 10px;
    line-height: 40px;
    outline: none;
}
.btn{
    outline: none;
    list-style: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #6366F1;
    color: black;
    margin-bottom: 2rem;
}
.btn-primary{
    background-color: #2427bd;
    color: white;
    width: 100%;
}
@media screen AND (max-width: 1024px){
    .dash{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }
    .LeftSide{
        flex-basis: 100%;
        border: 1px solid gray;
        padding: 0 3rem;
        height: 50vh;
        border-radius: 0.2rem;
    }
    .rightSide{
        flex-basis: 100%;
        border: 1px solid gray;
        padding: 0 3rem;
        /* height: 50vh; */
        border-radius: 0.2rem;
        height: auto;
        padding: 1rem;
    }
    .LeftSide ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
}
@media screen AND (max-width: 600px){
    .dash{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }
    .LeftSide{
        flex-basis: 100%;
        border: 1px solid gray;
        padding: 0 3rem;
        height: 50vh;
        border-radius: 0.2rem;
    }
    .rightSide{
        flex-basis: 100%;
        border: 1px solid gray;
        padding: 0 3rem;
        /* height: 50vh; */
        border-radius: 0.2rem;
        height: auto;
        padding: 1rem;
    }
    .LeftSide ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
}
.singleBlog{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.coments{
    margin-top: 1rem;
}
img{
    width: 100%;
    object-fit: cover;
}